header {
<<<<<<< HEAD
	background-color: white;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	display: flex;
	align-items: center;
}

header .logo {
	width: 142px;
	height: 60px;
	background: url("../images/logo.png") no-repeat center;
	padding-left: 20px;
=======
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: 20px 50%;
>>>>>>> edc5143791d9018a836adc858315e6bf1e1b2a99
}
